<a href="https://colab.research.google.com/github/sarika-kushwaha/data-science-colab-notebook/blob/main/I_O_SQLdatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sqlalchemy import create_engine

In [ ]:
temp_db = create_engine('sqlite:///:memory:')

In [ ]:
df = pd.DataFrame(data= np.random.randint(low=0,high = 100,size = (4,4)),columns = ['A','B','C','D'])

In [ ]:
df

    A   B   C   D
0  99  25   9  59
1  77  43  92  46
2  87  47  75  47
3  28  73  25  78

In [ ]:
df.to_sql(name = 'new_table',con = temp_db,index = False)

In [ ]:
new_df = pd.read_sql(sql='new_table',con = temp_db)

In [ ]:
new_df

    A   B   C   D
0  99  25   9  59
1  77  43  92  46
2  87  47  75  47
3  28  73  25  78

In [ ]:
result = pd.read_sql_query(sql = 'SELECT A,B FROM new_table',con = temp_db)

In [ ]:
result

    A   B
0  99  25
1  77  43
2  87  47
3  28  73