<a href="https://colab.research.google.com/github/sarika-kushwaha/data-science-colab-notebook/blob/main/I_Ocsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pwd

'/content'

In MacOS or Linux pwd returns the address were directories areseparated by single forward slash

In [ ]:
ls

sample_data/

ls will list the items of current directory

In [ ]:
import os

os module - this is separate from pandas it comes under python.

people who are working in colab or jupyter , this ls and pwd commands runs as python script. and If we want to figure out where we are or where this directory is located , what is inside our directory we can use this os module

In [ ]:
os.getcwd()

'/content'

 getcwd = get current working directory same as pwd

In [ ]:
# reading csv files
df = pd.read_csv('Retail Sales.csv')
df

          DATE  Sales
0     1/1/1992   1509
1     2/1/1992   1541
2     3/1/1992   1597
3     4/1/1992   1675
4     5/1/1992   1822
..         ...    ...
347  12/1/2020   7366
348   1/1/2021   5087
349   2/1/2021   4968
350   3/1/2021   5727
351   4/1/2021   5712

[352 rows x 2 columns]

In [ ]:
df = pd.read_csv('Retail Sales.csv',header = None) 
df

             0      1
0         DATE  Sales
1     1/1/1992   1509
2     2/1/1992   1541
3     3/1/1992   1597
4     4/1/1992   1675
..         ...    ...
348  12/1/2020   7366
349   1/1/2021   5087
350   2/1/2021   4968
351   3/1/2021   5727
352   4/1/2021   5712

[353 rows x 2 columns]

this will consider header also as a row because we mentioned here that header is None

In [ ]:
df = pd.read_csv('Retail Sales.csv')

If we want make column no. 0 as index then

In [ ]:
df = pd.read_csv('Retail Sales.csv',index_col = 0)
df

           Sales
DATE
1/1/1992    1509
2/1/1992    1541
3/1/1992    1597
4/1/1992    1675
5/1/1992    1822
...          ...
12/1/2020   7366
1/1/2021    5087
2/1/2021    4968
3/1/2021    5727
4/1/2021    5712

[352 rows x 1 columns]

In [ ]:
df.to_csv('newfie.csv')

If we want to save copy of modified file in our system

This command will save the file in current directory(folder).
If we want to save this in any other location then we have to pass the location followed by double backward slash(in windows) with new file name dot(.) extension of that file, e.g.  file1.csv
single forward slash (in mac and linux)

In [ ]:
df.to_csv('D:\python\newfile.csv') 
# but this won't work in google colab