<a href="https://colab.research.google.com/github/sarika-kushwaha/data-science-colab-notebook/blob/main/Text_Methods_For_string_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
email = 'sarika@gmail.com'

In [ ]:
email.split('@')

['sarika', 'gmail.com']

In [ ]:
names = pd.Series(['Andrew','Jose','bob','David'])

In [ ]:
names

0    Andrew
1      Jose
2       bob
3     David
dtype: object

In [ ]:
names.str.upper()

0    ANDREW
1      JOSE
2       BOB
3     DAVID
dtype: object

In [ ]:
names.str.lower()

0    andrew
1      jose
2       bob
3     david
dtype: object

In [ ]:
names.str.capitalize()

0    Andrew
1      Jose
2       Bob
3     David
dtype: object

In [ ]:
names.str.isdigit()

0    False
1    False
2    False
3    False
dtype: bool

In [ ]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [ ]:
len(tech_finance)

2

In [ ]:
tickers = pd.Series(tech_finance)

In [ ]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [ ]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [ ]:
tech = 'GOOG,APPL,AMZN'

In [ ]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [ ]:
tech.split(',')[0]

'GOOG'

In [ ]:
tickers.str.split(',')[0][0]

'GOOG'

In [ ]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [ ]:
tickers.str.split(',',expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [ ]:
messy_names = pd.Series(['andrew         ','bo:b','      claire     '])

In [ ]:
messy_names

0      andrew
1                 bo:b
2          claire
dtype: object

In [ ]:
messy_names.str.replace(':','').str.strip().str.capitalize()

0    Andrew
1       Bob
2    Claire
dtype: object

In [ ]:
def cleanup(name):
  name = name.replace(":","")
  name = name.strip()
  name = name.capitalize()
  return name

In [ ]:
messy_names.apply(cleanup)

0    Andrew
1       Bob
2    Claire
dtype: object