<a href="https://colab.research.google.com/github/humsarika/machine-learning-practice/blob/main/Text_methods_for_string_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
email = 'sarika.vsa01@gmail.com'

In [ ]:
email.split('@')

['sarika.vsa01', 'gmail.com']

In [ ]:
names = pd.Series(['sarika', 'sneha', 'shriya', 'samiksha', 'sona', 'isha','6'])
names

0      sarika
1       sneha
2      shriya
3    samiksha
4        sona
5        isha
6           6
dtype: object

In [ ]:
names.str.upper()

0      SARIKA
1       SNEHA
2      SHRIYA
3    SAMIKSHA
4        SONA
5        ISHA
6           6
dtype: object

In [ ]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
fruits_veggies = ['apple,guava,grapes','potato,tomato,brinjal']
ser = pd.Series(fruits_veggies)
ser

0       apple,guava,grapes
1    potato,tomato,brinjal
dtype: object

In [ ]:
ser.str.split(',')

0       [apple, guava, grapes]
1    [potato, tomato, brinjal]
dtype: object

In [ ]:
ser.str.split(',').str[0]

0     apple
1    potato
dtype: object

In [ ]:
ser.str.split(',', expand = True)

        0       1        2
0   apple   guava   grapes
1  potato  tomato  brinjal

In [ ]:
messy_names = pd.Series(["sarika         ","        sneha       ", "ansh:u"])

In [ ]:
messy_names

0         sarika
1            sneha
2                  ansh:u
dtype: object

In [ ]:
messy_names.str.replace(':','').str.strip().str.capitalize()

0    Sarika
1     Sneha
2     Anshu
dtype: object

In [ ]:
# help(str.ljust)

In [ ]:
def cleanup(name):
    name = name.replace(':','')
    name = name.strip()
    name = name.capitalize()
    return name

In [ ]:
messy_names.apply(cleanup)

0    Sarika
1     Sneha
2     Anshu
dtype: object

In [ ]:
import timeit

# code snippet to be executed only once
setup = '''
import pandas as pd
import numpy as np
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name
'''

# code snippet whose execution time is to be measured
stmt_pandas_str = '''
messy_names.str.replace(";","").str.strip().str.capitalize()
'''

stmt_pandas_apply = '''
messy_names.apply(cleanup)
'''

stmt_pandas_vectorize='''
np.vectorize(cleanup)(messy_names)
'''

In [ ]:
timeit.timeit(setup = setup,
                    stmt = stmt_pandas_apply,
                    number = 10000)

# this is checking for funtion cleanup that how much time it takes

0.6742148099997394

In [ ]:
timeit.timeit(setup = setup,
                    stmt = stmt_pandas_str,
                    number = 10000)

# this is checking for that inline str functions that how much time it takes

4.286077164999824

In [ ]:
timeit.timeit(setup = setup,
                    stmt = stmt_pandas_vectorize,
                    number = 10000)

0.7500458940003227