<a href="https://colab.research.google.com/github/sarika-kushwaha/data-science-colab-notebook/blob/main/time_methods_for_date_and_timedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
year = 2022
month = 1
day = 1
hour = 2
min = 30
second = 15

In [ ]:
mydate = datetime(year,month,day)

In [ ]:
mydate

datetime.datetime(2022, 1, 1, 0, 0)

In [ ]:
mydatetime = datetime(year,month,day,hour,min,second)

In [ ]:
mydatetime

datetime.datetime(2022, 1, 1, 2, 30, 15)

In [ ]:
mydatetime.year

2022

In [ ]:
myser = pd.Series(['Nov 03, 1999','Dec 22, 2001','2002-03-07',None])

In [ ]:
myser

0    Nov 03, 1999
1    Dec 22, 2001
2      2002-03-07
3            None
dtype: object

In [ ]:
pd.to_datetime(myser) # to read date which is in string format into date time format

0   1999-11-03
1   2001-12-22
2   2002-03-07
3          NaT
dtype: datetime64[ns]

In [ ]:
timeser = pd.to_datetime(myser)

In [ ]:
timeser

0   1999-11-03
1   2001-12-22
2   2002-03-07
3          NaT
dtype: datetime64[ns]

In [ ]:
print(timeser[0])
print(timeser[0].year)

1999-11-03 00:00:00
1999

In [ ]:
birthday = "22-12-2001"

In [ ]:
pd.to_datetime(birthday)

Timestamp('2001-12-22 00:00:00')

In [ ]:
date = "10-11-2000"
pd.to_datetime(date)
# here date month are confusing both are less than 12 ,  this is developed a american developer so by default this  is read like [10 - month , 11 - date]
# But assume we want it as an europian date [11 - month , 10 - date]

# mm-dd-yy american 
# dd-mm-yyy europian

Timestamp('2000-10-11 00:00:00')

In [ ]:
# But if we want to do date first then the month then 
pd.to_datetime(date,dayfirst = True)

Timestamp('2000-11-10 00:00:00')

`custom time string formatting -->`

In [ ]:
style_date = '22--dec--2001'

In [ ]:
pd.to_datetime(style_date,format='%d--%b--%Y') # %d = date , %b = month , %Y = year

Timestamp('2001-12-22 00:00:00')

In [ ]:
custom_date = '22th of Dec 2001'

In [ ]:
pd.to_datetime(custom_date)

Timestamp('2001-12-22 00:00:00')

In [ ]:
sales = pd.read_csv('Retail Sales.csv')

NameError: ignored

In [ ]:
sales

          DATE  Sales
0     1/1/1992   1509
1     2/1/1992   1541
2     3/1/1992   1597
3     4/1/1992   1675
4     5/1/1992   1822
..         ...    ...
347  12/1/2020   7366
348   1/1/2021   5087
349   2/1/2021   4968
350   3/1/2021   5727
351   4/1/2021   5712

[352 rows x 2 columns]

In [ ]:
sales['DATE']

0       1/1/1992
1       2/1/1992
2       3/1/1992
3       4/1/1992
4       5/1/1992
         ...
347    12/1/2020
348     1/1/2021
349     2/1/2021
350     3/1/2021
351     4/1/2021
Name: DATE, Length: 352, dtype: object

In [ ]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [ ]:
sales

          DATE  Sales
0   1992-01-01   1509
1   1992-02-01   1541
2   1992-03-01   1597
3   1992-04-01   1675
4   1992-05-01   1822
..         ...    ...
347 2020-12-01   7366
348 2021-01-01   5087
349 2021-02-01   4968
350 2021-03-01   5727
351 2021-04-01   5712

[352 rows x 2 columns]

In [ ]:
sales['DATE'][0].year

1992

In [ ]:
sales.head()

        DATE  Sales
0 1992-01-01   1509
1 1992-02-01   1541
2 1992-03-01   1597
3 1992-04-01   1675
4 1992-05-01   1822

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_csv('Retail Sales.csv',parse_dates = [0])

In [ ]:
sales

          DATE  Sales
0   1992-01-01   1509
1   1992-02-01   1541
2   1992-03-01   1597
3   1992-04-01   1675
4   1992-05-01   1822
..         ...    ...
347 2020-12-01   7366
348 2021-01-01   5087
349 2021-02-01   4968
350 2021-03-01   5727
351 2021-04-01   5712

[352 rows x 2 columns]

`Re sampling -->`

In [ ]:
sales = sales.set_index('DATE')

In [ ]:
sales

            Sales
DATE
1992-01-01   1509
1992-02-01   1541
1992-03-01   1597
1992-04-01   1675
1992-05-01   1822
...           ...
2020-12-01   7366
2021-01-01   5087
2021-02-01   4968
2021-03-01   5727
2021-04-01   5712

[352 rows x 1 columns]

In [ ]:
sales.resample(rule = 'A').mean()

                  Sales
DATE
1992-12-31  1807.250000
1993-12-31  1794.833333
1994-12-31  1841.750000
1995-12-31  1833.916667
1996-12-31  1929.750000
1997-12-31  2006.750000
1998-12-31  2115.166667
1999-12-31  2206.333333
2000-12-31  2375.583333
2001-12-31  2468.416667
2002-12-31  2491.166667
2003-12-31  2539.083333
2004-12-31  2682.416667
2005-12-31  2797.250000
2006-12-31  3001.333333
2007-12-31  3177.333333
2008-12-31  3292.000000
2009-12-31  3353.750000
2010-12-31  3450.083333
2011-12-31  3532.666667
2012-12-31  3697.083333
2013-12-31  3803.916667
2014-12-31  3949.583333
2015-12-31  4096.333333
2016-12-31  4271.000000
2017-12-31  4385.166667
2018-12-31  4590.666667
2019-12-31  4733.750000
2020-12-31  5571.000000
2021-12-31  5373.500000